.courses{
    background-image: url("https://media.tenor.com/zFYlcnyDzhkAAAAd/student-studying.gif");
    padding: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    height: 500px;
    opacity: 0.75;
    color: rgb(255, 157, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    
}

@media screen and (max-width:667px) {
    .courses{
        font-size: 50px;
        padding: 50px;
    }
    
}