.courses{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190625/ourmid/pngtree-table-overlooking-office-stationery-image_259709.jpg");
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    
    
}